{% extends "base.html" %}

{% block title %}Редактирование сервера - VPN Duck{% endblock %}

{% block content %}
<!-- Содержимое страницы без изменений -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/components/alerts.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/servers/edit.js') }}"></script>
{% endblock %}