# Telegram Bot Token от BotFather
TELEGRAM_TOKEN=you_tocken
SERVER_ENDPOINT=you_ip_server_wg
SERVER_PORT=51820
SERVER_ADDRESS=10.0.0.1/24

# Настройки базы данных (опционально, по умолчанию используется SQLite)
# DB_TYPE=sqlite
# DB_PATH=/app/data/wireguard.db

# Сетевые настройки (опционально)
# WIREGUARD_SERVICE_URL=http://wireguard-service:5001
# DATABASE_SERVICE_URL=http://database-service:5002

# Настройки PostgreSQL
POSTGRES_PASSWORD=random_pass
# Настройки PostgreSQL AdminPanel
PGADMIN_EMAIL=you_mail
PGADMIN_PASSWORD=random_pass

# настройки админ панели мониторинга серверов

ADMIN_USERNAME=random_name
ADMIN_PASSWORD=random_pass
ADMIN_SECRET_KEY=random_key
